---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <!-- Content -->
  <div class="text-center p-4 bg-base-100 text-base-content h-screen shadow-lg">
    <h1 class="mb-4 antialiased text-3xl lg:text-5xl font-black">vscode systemd.service</h1>
    <div class="flex justify-center"><img src="/code/vscode.jpg" class="max-w-xs lg:max-w-lg rounded-lg shadow-2xl"/></div>
    <h3 class="mb-4 antialiased text-lg lg:text-3xl font-semibold">Get started with VS Code for the Web</h3>
    <p class="mb-2">Go on then, paste and run the following in a terminal:</p>
    <div class="mb-2 mockup-code w-full lg:w-3/7 mx-auto">
      <pre data-prefix="$" class="text-xs lg:text-base text-left"><code>curl -s "https://rising3.github.io/code/get/" | bash</code></pre>
    </div>
    <div class="mb-2 flex items-center justify-center">
      <div role="alert" class="alert alert-success w-full lg:w-3/7 mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="text-base font-semibold">Open host-ip:8000 in your browser to access vscode.</span>
      </div>  
    </div>    
  </div>  
  <!-- Content -->

  <!-- Footer -->
   <Footer/>
   <!-- Footer -->
</Layout>
