<footer class="footer sm:footer-horizontal footer-center p-4">
  <aside>
    <nav>
      <p>
        © {new Date().getFullYear()} <a class="link link-hover" href="https://github.com/rising3" target="_blank">rising3</a>. All rights reserved.
      </p>
    </nav>
  </aside>
</footer>
